openapi: 3.1.0
info:
  title: Heroku Platform Account Regions API
  description: The Heroku Platform API enables programmatic access to Heroku's deployment platform. Manage apps, dynos, add-ons, config vars, domains, pipelines, releases, and other platform resources.
  version: '3'
  contact:
    name: Heroku
    url: https://devcenter.heroku.com/
  license:
    name: Proprietary
    url: https://www.heroku.com/policy/tos
servers:
- url: https://api.heroku.com
  description: Heroku Platform API
security:
- BearerAuth: []
tags:
- name: Regions
  description: Available regions
paths:
  /regions:
    get:
      operationId: listRegions
      summary: List regions
      tags:
      - Regions
      responses:
        '200':
          description: Available regions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    name:
                      type: string
                    description:
                      type: string
                    country:
                      type: string
                    locale:
                      type: string
                    private_capable:
                      type: boolean
                    provider:
                      type: object
                      properties:
                        name:
                          type: string
                        region:
                          type: string
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Heroku API key or OAuth token
